{% extends "dashboards/base.html" %}
{% load static %}

{% block title %}Resources | MSREC Admin{% endblock %}

{% block extra_css %}
<link href="{% static 'dashboard/css/accounts.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/css/board-committee-admin.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/css/resources-admin.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_content %}
      {% include "dashboards/admin/_nav.html" with active="resources" %}
{% endblock %}

{% block topbar %}
      {% include "dashboards/admin/_topbar.html" with page_title="Resources" page_subtitle="Forms, templates, guidelines, FAQs and training shown on the public Resources page" search_id="resAdminSearch" search_placeholder="Search by title..." %}
{% endblock %}

{% block main_content %}
      {% include "dashboards/_resources_manage.html" %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'dashboard/js/resources-admin.js' %}"></script>
{% endblock %}
